:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff00; /* #646cff */
  text-decoration: inherit;
}
a:hover {
  color: #ffffff00; /* #646cff */
}

body {
  margin: 0;
  padding:0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cffff; /* #646cff */
}
/*
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

.ant-card-head-title {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  word-wrap: break-word;

  line-height: 1.4;     /* add breathing room between lines */
  padding-top: 6px;     /* extra top spacing */
  padding-bottom: 6px;  /* extra bottom spacing */
}

.ant-card-head-wrapper {
  align-items: flex-start !important; /* moves actions to top */
}

.ant-card-extra {
  margin-top: 4px; /* tweak until it matches your font size */
}

.ant-card-body {
  white-space: normal !important;
  overflow-wrap: anywhere; /* breaks long words if needed */
  word-break: anywhere;    /* keeps things from overflowing */
  line-height: 1.5;          /* improves readability */
}

.my-float .ant-float-btn-body {
  background-color: #23b839 !important;
  color: #fff !important;
}
.my-float .ant-float-btn-body:hover {
  background-color: #24de46 !important;
}
.my-float .ant-float-btn-icon {
  color: #fff !important;
}

/* Make Scrollbar always visible
.scrollable::-webkit-scrollbar {
  width: 6px;                 
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #141414;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff00;
  }
  button {
    background-color: #f9f9f9;
  }
}
